h1 {
  font-variant: all-small-caps;
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
}

h1,
h2 {
  font-family: "Alegreya Sans", -apple-system, sans-serif;
  color: #f42c04;
  line-height: 1.2;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

body {
  background: #0f1a20;
  font-family: "Alegreya", "Georgia";
  font-size: 1.6em;
  line-height: 1.6;
  color: #ffffff;
  margin: 20px auto;
  padding: 2em;
  max-width: 800px;
}

.profileContainer {
  align-items: flex-start;
  display: flex;
}

p,
ul,
img {
  margin-top: 0.5em;
}

ul li {
  margin-top: 0.25em;
}

a:hover {
  background: #003459;
}

a,
a:visited {
  color: #30c5ff;
}

code {
  font-family: "SF Mono", "Menlo", monospace;
  font-size: 0.84em;
}

img {
  margin-right: 12px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: inline-flex;
}

@media (max-width: 800px) {
  body {
    padding: 0.5em;
    margin: 8px auto;
    font-size: 1.2em;
  }
}
