html,
body {
}

h1 {
  font-variant: small-caps;
}

h1, h2 {
  font-family: 'Alegreya', 'Georgia';
  color: #E2C044;
}

body {
  background: #1E2019;
  font-family: 'Alegreya Sans', -apple-system, sans-serif;
  font-size: 1.2em;
  line-height: 1.44;
  color: #D3D0CB;
  margin: 20px auto;
  padding: 2em;
  max-width: 800px;
}

a:hover {
  background: #587B7F;
}

a {
  color: #D3D0CB;
}

a:visited {
  color: #D3D0CB;
}

code {
  font-family: "SF Mono", "Menlo", monospace;
  background: #393E41
}

img {
  margin: 0 24px 0 0;
  float: left;
  height: 120px;
  width: 120px;
  border-radius: 16px;
  display: inline-flex;
  box-shadow: 0px 2px 4px #393E41;
}